<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.jpeg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{paper.paper_code}}</title>
</head>
<body>
    <br><br>
    <div id="notice">
        <h1>Test Information</h1>
        <table >
            <tr>
                <th>Detail</th>
                <th>Information</th>
            </tr>
            <tr>
                <td>Test Code</td>
                <td>{{ paper.paper_code }}</td>
            </tr>
            <tr>
                <td>Test Name</td>
                <td>{{ paper.paper_title }}</td>
            </tr>
            <tr>
                <td>Number of Questions</td>
                <td>{{ paper.no_of_qs }}</td>
            </tr>
            <tr>
                <td>Time Limit</td>
                <td>{{ paper.time_limit }}</td>
            </tr>
            <tr>
                <td>Total Mark</td>
                <td>{{ paper.total_marks }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ paper.paper_description }}</td>
            </tr>
        </table>
        {% if not result.attended %}
        <form action="{% url 'test' paper.paper_code %}" id="start-test-form">
            {% csrf_token %}
            <button type="submit"  id="start-test-button">Start Test</button>
        </form>
        {% else %}
        <p>You have already attended this test.</p>
        {% endif %}
    </div>
    <br><br>
    <script src="{% static 'js/test.js' %}"></script>
</body>

</html>
