.content {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff; 
    width: 96.5%;  
    height: 86%; 
    border-radius: 5px; 
    padding: 20px;
    color: rgb(0, 0, 0); 
    position: relative; 
    overflow: hidden; 
}

.content-section {
    display: block; 
    background-color: #ffffff;
    color: #000;
    width: 100%; 
    height: calc(100% - 20px);
    padding: 10px;
    overflow-y: auto; 
}


#homeSection {
    display: block;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000;
}

