@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{font-family: poppins;}
.title{
    position: sticky;
    font-size: x-large;
    background-color: rgb(188, 188, 234);
    color: #0c0d23;
    padding: 10px;
    border-radius: 5px;   
}
.btn {
    width: 100%;
    padding: 12px;
    background: rgb(0, 0, 70);
    color: #f8f5f5;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 0, 70, 0.17);
    border: 2px solid rgb(0, 0, 70);
    color: rgb(0, 0, 70);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form-container {
    max-height: 80vh; /* Adjust the height as needed */
    overflow-y: auto;
    padding-bottom: 10px;
}


.table-form {
    background: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(10px);
    padding: 30px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 100%;
    border-collapse: collapse;
}
.table-form td, .table-form th {
    padding: 7px;
    border: 1px solid #dee2e6;
}


/* Styling for help text (instructions) */
.form-text {
    font-size: 0.875rem; /* Slightly smaller font size */
    color: #000000; /* Bootstrap muted text color */
    margin-top: 4px;
}

/* Container for error messages */
.error-container {
    border: 1px solid #dc3545; /* Bootstrap danger color */
    background-color: rgba(220, 53, 69, 0.1); /* Light red background */
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    max-width:max-content;
}

/* Styling for individual error messages */
.text-danger {
    font-size: 0.875rem; /* Same size as help text for consistency */
    color: #dc3545; /* Bootstrap danger color */
    font-weight: bold;
    margin: 2px 0;
}


