<!DOCTYPE html>
<html>

<head>
    <title>VCET - ECE</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/assessment.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/practice_and_material.css' %}">
</head>

<body onload="initializeSPA()">

    <nav class="navbar background1">

        <div class="timeDate">
            <div id="liveTime"></div>
            <div id="liveDate"></div>
        </div>
        
        <div class="logo">
            <img src="{% static 'images/Vcet_logo.png' %}" alt="VCET Logo">
        </div>
        <div class="center">
        <h2>VELAMMAL COLLEGE OF ENGINEERING AND TECHNOLOGY</h2>
        <h5>Department of Electronics and Communication Engineering</h5>
        </div>

        <div>
            
        </div>
        <button id="enterFullscreen" class="fullscreen-btn">
            <a href="{% url 'admin:index' %}" class="admin-icon">
                <i class="bi bi-person-vcard" style="font-size: 1.5rem; color: rgb(10, 10, 10);"></i>
            </a>
        </button>
    
        <button id="exitFullscreen" class="fullscreen-btn" style="display: none;">
            <a href="{% url 'admin:index' %}" class="admin-icon">
                <i class="bi bi-person-vcard" style="font-size: 1.5rem; color: rgb(10, 10, 10);"></i>
            </a>
        </button>

    </nav>

    <nav class="navbar background2">
        <ul class="nav-list">
        <li><a id="home" class="active" onclick="navigateTo('home')">Home</a></li>
        <li><a id="materials" onclick="navigateTo('materials')">Materials</a></li>
        {% if user.is_authenticated %}
        <li><a id="assessments" onclick="navigateTo('assessments')">Assessments</a></li>
        <li><a id="profile" onclick="navigateTo('profile')">Profile</a></li>
        {% endif %}
        <li><a id="about" onclick="navigateTo('about')">About</a></li>
        </ul>

          

        {% if request.user.is_authenticated %}

        <div class="rightnav">
            <form action="{% url 'logout' %}" method="post" >
                {% csrf_token %}
                <button type="submit" id="logout-button"><h3 ><a style="background-color : rgb(0, 0, 70);">({{user.name}})Logout</a></h3></button>
            </form>
        </div> 

        {% else %}


        <div class="rightnav">
            <h3><a href="{% url 'signup' %}">Signup</a>
                <span style="color: white; font-size:1.0rem;">/</span><a href="{% url 'login' %}">Login</a></h3>
            <h3></h3>
        </div>  

        {% endif %}
            
    </nav>
    

    <div class="content_border">
        {% block content %}
        {% endblock %}
    </div>

</body>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/assessment.js' %}"></script>
<script src="{% static 'js/test.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/practice_and_material.js' %}"></script>

</html>
