{% extends 'base.html' %}
    

    {% block content %}
    <div class="content">

        <div id="homeSection" class="content-section">
            <h1>Home Content</h1>
        </div>


        <div id="materialsSection" class="content-section">
           <h1> Materials Content</h1>
        </div>


        <div id="practiceSection" class="content-section">
            <h1>Practice Content</h1>
        </div>


        <div id="assessmentsSection" class="content-section">
            
                <form action="#" method="POST" class="test_code_form">
                    <div>
                        <h2>Enter the Test Code</h2>
                    </div>
                    <br>
                    <input type="number" placeholder="X X X X" name="input-text" min="0000" max="9999" required>
                    <button type="submit"><a href="{% url 'test' %}">Enter</a></button>
                </form>

                <div id="before_assess_warn">
                    {% load static %}
                    <img src="{% static 'images/warning.png' %}" alt="warning">
                    <ul>
                        <li>Enter the 4 Digit Code of the Test Paper</li>
                        <li>You can only use this Code one Time</li>
                        <li>After Enter into the full screen mode during the test dont Exit it</li>
                        <li>If you break the rules , you cant write this test Again</li>
                    </ul>
                </div>
        </div>


        <div id="profileSection" class="content-section">
           
        </div>    






    
  

            
            

        
 




        <div id="aboutSection" class="content-section">
            <h1>About Content</h1>
        </div>

        
    </div>
    {% endblock %}